body {
  background-image: url(https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-attachment: fixed;
  background-size: cover;
}

#body {
  margin: 2rem;
}

.btn {
  background-color: dodgerblue;
  color: white;
  margin-left: 1rem;
}

.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: rgb(195, 199, 191);
}

.on {
  background-color: #00b7ff;
}

.box:hover {
  background: #a05276;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

h1,
h2,
h3,
h4 {
  color: rgb(244, 244, 57);
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 1rem;
}

#rules {
  color: rgb(244, 244, 55);
  margin: 3rem;
  font-weight: 500;
  margin-top: auto;
}

ol {
  color: rgb(244, 244, 55);
  margin-top: 2rem;
  background-color: ;
}

span:hover {
  color: orangered;
  cursor: pointer;
}

@media (max-width: 750px) {
  .btn {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .grid {
    background-color: red;
  }
}
